---
# Encrypted variables - Ansible Vault
vault:
  # General variables
  general:
    domains:
      dns: {{ sec_dns_domain }}
      org: {{ sec_org }}
  # Notifications variables
  notifications:
    telegram:
      chat_id: {{ telegram_chat_id }}
      bot_token: {{ telegram_api_key }}
  # WiFi secret
  wifi:
    auth:
      psk: {{ wifi_password }}
  # Dynamic DNS
  ddns:
    cloudflare:
      token: {{ cloudflare_token_ddns }}
  # WireGuard secret
  wireguard:
    auth:
      private_key: {{ wg_private_key.stdout }}
  # Flux secret
  flux:
    github:
      pat: {{ github_pat | default("") }}
  # Ingress secrets
  ingress:
    admin:
      user: admin
      password: {{ traefik_basic_auth_password }}
  # Keycloak
  keycloak:
    admin:
      user: admin
      password: {{ keycloak_admin_password }}
    rdxcluster-admin:
      user: rdxadmin
      password: {{ keycloak_pi_password }}
    postgresql:
      user: keycloak
      password: {{ keycloak_postgresql_password }}
  # Oauth2-Proxy
  oauth2-proxy:
    oauth2:
      client-id: oauth2-proxy
      client-secret: {{ oauth2_proxy_client_secret }}
    cookie:
      cookie-secret: {{ oauth2_proxy_cookie }}
    redis:
      redis-password: {{ oauth2_proxy_redis_password }}
  # SeaweedFS S3 secrets
  seaweedfs:
    root:
      user: root
      key: {{ seaweedfs_root_password }}
    restic:
      user: restic
      key: {{ seaweedfs_restic_password }}
    longhorn:
      user: longhorn
      key: {{ seaweedfs_longhorn_password }}
    velero:
      user: velero
      key: {{ seaweedfs_velero_password }}
    loki:
      user: loki
      key: {{ seaweedfs_loki_password }}
    tempo:
      user: tempo
      key: {{ seaweedfs_tempo_password }}
    barman:
      user: barman
      key: {{ seaweedfs_barman_password }}
  # elasticsearch
  elastic:
    admin:
      user: admin
      password: {{ elasticsearch_admin_password }}
    opentelemetry:
      user: opentelemetry
      password: {{ elasticsearch_opentelemetry_password }}
    prometheus:
      user: prometheus
      password: {{ elasticsearch_prometheus_password }}
  # Grafana
  grafana:
    admin:
     user: admin
     password: {{ grafana_admin_password }}
    oauth2:
      client-id: grafana
      client-secret: {{ grafana_client_secret }}
  # Certmanager
  certmanager:
    cloudflare:
      token: {{ cloudflare_token_certmanager }}
  # PostgreSQL
  postgresql:
    admin:
      user: admin
      password: {{ postgresql_admin_password }}
  # Kiali
  kiali:
    oauth2:
      client-id: kiali
      client-secret: {{ kiali_client_secret }}
  ### Applications ###
  # Docker Mailserver
  dms:
    admin:
      user: admin
      password: {{ docker_mailserver_password }}
      hashed_password: {{ docker_mailserver_password_hashed }}
  dms-dkim:
    keys:
      private: |
        {{ dkim_private_key | indent(width=8, first=False) }}
      public: |
        {{ dkim_public_key | indent(width=8, first=False) }}
      dns: {{ dkim_public_key_dns }}
  # Nextcloud
  nextcloud:
    admin:
      password: {{ nextcloud_admin_password }}
    db:
      password: {{ nextcloud_db_password }}
    fulltext-search:
      password: {{ nextcloud_fulltext_search_password }}
    imaginary:
      secret: {{ nextcloud_imaginary_secret }}
    recording:
      secret: {{ nextcloud_recording_secret }}
    redis:
      password: {{ nextcloud_redis_password }}
    signaling:
      secret: {{ nextcloud_signaling_secret }}
    talk:
      secret: {{ nextcloud_talk_secret }}
    turn:
      secret: {{ nextcloud_turn_secret }}
    whiteboard:
      secret: {{ nextcloud_whiteboard_secret }}
    smtp:
      user: nc-noreply
      password: {{ nextcloud_smtp_password }}
      hashed_password: {{ nextcloud_hashed_smtp_password }}
