---
extends: default

ignore: |
  ansible_collections/
  vars/vault.yml
  roles/ricsanfre.*/
  docs/

rules:
  line-length:
    max: 180
    level: warning
  braces:
    forbid: false
    min-spaces-inside: 1
    max-spaces-inside: 1
