services:
  # Ansible-runner
  ansible-runner:
    image: ansible-runner
    build:
      context: .
    # Clean up the old gpg-agents
    command: >
      /bin/sh -c "rm /home/runner/.gnupg/S.gpg-agent* &&
             tail -f /dev/null"
    container_name: ansible-runner
    restart: unless-stopped
    volumes:
      - ./../ansible:/runner
      - ./../kubernetes:/kubernetes
      - ./runner/.gnupg:/home/runner/.gnupg
      - ./runner/.vault:/home/runner/.vault
      - ./runner/.secrets:/home/runner/.secrets
      - ./runner/scripts:/home/runner/scripts
      - ./runner/.ssh:/home/runner/.ssh
      - ./runner/.kube:/home/runner/.kube
      - ./certbot/log:/var/log/letsencrypt
      - ./certbot/config:/etc/letsencrypt
      - ./certbot/work:/var/lib/letsencrypt
    env_file:
      - ./runner/env
    dns_search: maas.changeme.com
